* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* HEADER CSS  */
header {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../image/banner1.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 30px;
}
.navbar-brand {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
}
.navbar-brand:hover {
    color: #fff;
}
.header__right {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-control {
    padding: 20px 50px 20px 20px;
}
.fa-search {
    position: absolute;
    right: 45px;
    bottom: 10px;
    font-size: 20px;
    color: #5b606c;
    transition: all 0.5s;
    z-index: 999;
}
.fa-search:hover, .fa-bars:hover, .fa-moon:hover {
    color: #ff6600; 
}
.navbar__icon a, .fa-bars {
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}
.fa-moon {
    transition: all 0.5s;
}
.collapse .navbar__menu {
    position: absolute;
    top: 0%;
    text-align: center;
    background: rgb(6 3 0 / 77%);
    height: 100vh;
    width: 100%;
}
.navbar-toggler {
    margin-left: 20px;
}
.btn__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.btn__close i {
    font-size: 20px;
    color: #fbfbfb;
    background-color: #ff6600;
    padding: 10px 15px;
    margin: 30px;
    border-radius: 10px;
}
.navbar-nav {
    padding-top: 100px;
}
.navbar-nav a {
    font-weight: 900;
    padding: 10px 0;
    transition: all 0.5s;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #ff6600;
}
.navbar__content {
    margin-top: 100px;
}
.navbar__content h1 {
    font-weight: 700;
    font-size: 55px;
    color: #fff;
}
.navbar__content p {
    color: #faf0d8;
    margin: 20px 0 40px 0;
    line-height: 26px;
}
.navbar__content button {
    padding: 20px 50px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.navbar__content button:hover {
    background-color: white;
    color: #ff6600;
}
/* END HEADER CSS */

/* ABOUT CSS  */
.about {
    padding: 100px 0;
}
.about__left {
    margin-right: 50px;
}
.about__left h6, .service__title h6, .categories__title h6 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ff6600;
}
.about__left h2, .service__title h2, .categories__title h2, .jumping__title h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}
.about__right p {
    font-size: 17px;
    line-height: 30px;
    color: #161c2db3;
}
/* END ABOUT CSS */

/* restaurant CSS */
.restaurant {
    background-color: #ff6600;
    padding: 10px 0;
}
.restaurant__img {
    background-image: url(./../image/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 620px;
    width: 100%;
}
.restaurant__img::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: 1;
}
.restaurant__title h6 {
    color: white;
}
.restaurant__title p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
}
.restaurant__item>a>h5 {
    color: black;
    font-weight: 900;
    margin: 15px 0;
    font-size: 22px;
}
.restaurant__item>a {
    text-decoration: none;
}
.restaurant__item>a>i {
    padding: 25px;
    font-size: 25px;
    border-radius: 10px;
    background-color: white;
    color: #ff6600;
    margin: 20px 0;
    transition: all 0.5s;
}
.restaurant__item>a>i:hover {
    color: #ffc600;
}
.restaurant__item p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 30px;
}
/* END restaurant CSS */

/* CATEGORIES CSS */
.categories {
    padding: 100px 0;
    background-color: #f7f7f7;
}
.categories__title {
    text-align: center;
}
.categories__item {
    position: relative;
}
.categories__item::after {
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}
.categories__item img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    transition: all 0.5s;
}
.categories__item a:hover img {
    opacity: 0.8;
}
.categories__text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 40px;
    font-weight: 700;
    background-color: transparent;
    z-index: 1;
}
.categories__text a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.categories__text p {
    color: #ffc600;
    font-size: 18px;
}
/* END CATEGORIES CSS */

/* MENU CSS */
.menu {
    padding: 100px 0;
}
.menu .card {
    border: none;
}
.menu__item {
    margin: 15px;
    padding: 40px 40px 30px 40px;
    border-radius: 20px;
    transition: all 0.5s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    border: 1px solid #eee;
}
.menu__top {
    display: flex;
    align-items: center;
}
.menu__top i {
    font-size: 30px;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    background-color: rgba(130, 115, 252, 0.05);
    color: #ff6600;
    margin-right: 20px;
    border-radius: 15px;
    transition: all 0.5s;
}
.menu__text a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s;
}
.menu__item a:hover {
    color: #ff6600;
}
.menu__item a:hover i {
    color: #ff6600;
}
.menu__item:hover i {
    background-color: #ff6600;
    color: white;
}
.menu__item:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.menu__item p {
    font-size: 19px;
    color: rgba(29, 37, 59, 0.7);
    line-height: 30px;
    margin: 0;
}
/* END MENU CSS  */

/* JUMPING CSS */
.jumping__content {
    background-image: url(./../image/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 450px;
    z-index: 1;
    position: relative;
}
.jumping__content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(16 15 19 / 66%);
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
}
.jumping__title {
    text-align: center;
}
.jumping__title h2 {
    color: white;
    font-size: 50px;
}
.jumping__title button {
    padding: 15px 50px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 30px 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.5s;
}
.jumping__read {
    background-color: transparent;
}
.jumping__read:hover {
    background-color: white;
    color: #ff6600;
}
.jumping__contact {
    background-color: #ff6600;
    border: 2px solid #ff6600 !important;
}
.jumping__contact:hover {
    opacity: 0.8;
}
.jumping__item {
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: white;
    margin: 40px 15px;
    border-radius: 10px;
    transform: translateY(0px);
    transition: all 0.5s;
}
.jumping__item:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.jumping .card {
    background-color: transparent;
    border: none;
    padding: 0;
}
.jumping__item i {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}
.jumping__item p {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
    margin: 15px 0 5px 0;
}
.jumping__item span {
    color: rgba(22,28,45,0.7);
    font-weight: 600;
}
/* END JUMPING CSS */

/* MEDIA  */
@media screen and (max-width:992px) {
    .navbar-nav {
        padding-top: 70px
    }
    .navbar-nav a {
        font-size: 20px;
    }
    .btn__close i {
        font-size: 17px;
        padding: 5px 10px;
    }
    .form-inline {
        width: 250px;
    }
    .navbar__content h1 {
        font-size: 45px;
    }
    .navbar__content p, .menu__item p, .about__right p, .restaurant__title p, .restaurant__item p, .categories__text p {
        font-size: 15px;
        line-height: 26px;
    }
    .navbar__content button {
        padding: 18px 45px;
    }
    .about__left h6, .restaurant__title h6, .categories__title h6 {
        font-size: 22px;
    }
    .about__left h2, .restaurant__title h2, .categories__title h2, .jumping__title h2 {
        font-size: 32px;
        line-height: 44px;
    }
    .restaurant__img {
        height: 500px;
    } 
    .restaurant__item>a>i {
        font-size: 22px;
        padding: 22px;
        margin-bottom: 10px;
    }
    .restaurant__item>a>h5 {
        font-size: 20px;
    }
    .categories__text {
        padding: 8px 28px;
    }
    .categories__text a {
        font-size: 20px;
    }
    .menu__top i {
        font-size: 25px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border-radius: 13px;
        margin-right: 15px;
    }
    .menu__text a {
        font-size: 20px;
    }
    .jumping__content {
        height: 400px;
    }
    .jumping__title button {
        padding: 10px 40px;
        border-radius: 8px;
        margin: 25px 15px;
        font-size: 17px;
    }
}
@media screen and (max-width:768px) {
    .navbar-nav {
        padding-top: 60px
    }
    .navbar-nav a {
        font-size: 17px;
    }
    .btn__close i {
        font-size: 16px;
        padding: 5px 10px;
    }
    .form-inline {
        width: 200px;
    }
    .navbar__content h1 {
        font-size: 38px;
    }
    .navbar__content p, .menu__item p, .about__right p, .restaurant__title p, .restaurant__item p, .categories__text p {
        font-size: 13px;
        line-height: 22px;
    }
    .navbar__content button {
        padding: 15px 40px;
    }
    .about__left h6, .restaurant h6, .categories__title h6 {
        font-size: 18px;
    }
    .about__left h2, .restaurant__title h2, .categories__title h2, .jumping__title h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .restaurant__img {
        height: 400px;
    } 
    .restaurant__item>a>i {
        font-size: 19px;
        padding: 19px;
        margin-bottom: 5px;
    }
    .restaurant__item>a>h5 {
        font-size: 17px;
    }
    .categories__text {
        padding: 5px 25px;
    }
    .categories__text a {
        font-size: 17px;
    }
    .menu__top i {
        font-size: 20px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 10px;
        margin-right: 10px;
    }
    .menu__text a {
        font-size: 17px;
    }
    .jumping__content {
        height: 350px;
    }
    .jumping__title button {
        padding: 8px 30px;
        border-radius: 6px;
        margin: 20px 10px;
        font-size: 15px;
    }
}
@media screen and (max-width:576px) {
    .navbar-nav {
        padding-top: 50px
    }
    .navbar-nav a {
        font-size: 15px;
    }
    .btn__close i {
        font-size: 14px;
        padding: 5px 10px;
    }
    .form-inline {
        display: none;
    }
    .navbar__content h1 {
        font-size: 30px;
    }
    .navbar__content p, .menu__item p, .about__right p, .restaurant__title p, .restaurant__item p, .categories__text p {
        font-size: 11px;
        line-height: 18px;
    }
    .navbar__content button {
        padding: 10px 35px;
    }
    .about__left h6, .restaurant__title h6, .categories__title h6 {
        font-size: 15px;
    }
    .about__left h2, .restaurant__title h2, .categories__title h2, .jumping__title h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .restaurant__img {
        height: 300px;
    } 
    .restaurant__item>a>i {
        font-size: 16px;
        padding: 16px;
        margin-bottom: 0px;
    }
    .restaurant__item>a>h5 {
        font-size: 14px;
    }
    .categories__text {
        padding: 0px 20px;
    }
    .categories__text a {
        font-size: 14px;
    }
    .menu__top i {
        font-size: 15px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 7px;
        margin-right: 5px;
    }
    .menu__text a {
        font-size: 15px;
    }
    .jumping__content {
        height: 300px;
    }
    .jumping__title button {
        padding: 5px 20px;
        border-radius: 4px;
        margin: 15px 5px;
        font-size: 13px;
    }
}
